@import "./variables.scss";

iframe {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.stuff-on-top {

}

.ant-form .ant-form-item-with-help {
  margin-bottom: 1em;
}

.ant-divider.danger {
  border-top-color: fade-out($color: $color-danger, $amount: 0.6);
  color: $color-danger;
}


@import "./animations.scss";
@import './components/field/field-config-form.scss';